body {
	background-color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 500px;
}

h1 {
	background-color: white;
	font-size: 11em;
	font-family: 'Satisfy', cursive;
	color: black;
	text-align: center;
}

h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 3em;
	text-align: center;	
	font-weight: bold;
}

#welcome {
	background-color: white;
}

.section-title {
	/*margin-top: 40px;*/
}

.intro {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.6em;
	font-weight: bold;
	color: black;
	padding-bottom: 20px;
	text-align: center;
}

.intro_login {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.6em;
	font-weight: : bold;
	color: black;
	margin-top: -70px;
	padding-bottom: 20px;
	text-align: center;
}

#categories_section {
	
}

.category_text {
	text-align: center;
	font-size: 1.5em;
}

.see_all {
	text-align: center;
	font-size: 1.5em;
	/*margin-top: -45px;*/
}

#columns {
	text-align: center;
	font-size: 1.6em;
}

.formal {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	height: 500px;
}

.casual {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	height: 500px;
}

.lounging {
	border-style: solid;
	border-width: 1px;
	border-radius: 50px;
	height: 500px;
}

.nav {
  background-color: black;
  width: 100%;
  margin-top: -20px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: 'BenchNine', sans-serif;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  line-height: 30px;
  height: 30px;
}
 
.nav a {
  text-decoration: none;
  color: white;
  display: block;
}
 
.nav a:hover {
  color: white; /*change nav bar TEXT color when hovered*/
  outline: none;
}
 
.nav a.active {
  color: black;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 35px;
    line-height: 45px;
    font-size: 1em;
}

.nav li {
    display: inline-block;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: .5px;
  }

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: bolder;
	height: 55px;
}

#third_section {
	text-align: center;
	font-size: 2em;
	padding-top: 10px;
	height: 500px;
	width: 100%;
}

.log_in {
	margin-bottom: 30px;
}

/*LOG IN BOX*/
#log_in_border_box {
    width: 37%;
    background-color: black;
    color: white;
    height: 375px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#log_in_box {
	text-align: left;
	font-size: 1.3em;
}

#log_in_group {
	font-size: 1em;
	margin-left: -21%;
}

#email_user {
	height: 31px;
	margin-top: -55px;
	width: 120%;
	/*margin-left: -23%;*/
}

#log_in_password {
	height: 31px;
	margin-top: -55px;
	width: 120%;
	/*margin-left: -23%;*/
}

.login_button {
	width: 200px;
}

.create_account_button {
	width: 200px;
	margin-left: -15px;
}
/*END LOG IN BOX*/

button {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: black;
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: .8em;
	width: 100%;
}

/*SIGN UP BOX*/
#sign_up_border_box {
	 width: 37%;
    background-color: black;
    color: white;
    height: 650px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#sign_up_group {
	font-size: 1.3em;
	margin-left: -65%;
}

#email_sign_up_group {
	font-size: 1.3em;
	margin-left: -72%;
}

#confirm_sign_up_group {
	font-size: 1.3em;
	margin-left: -51%;
}

#sign_up_name {
	height: 31px;
	width: 50%;
	margin-left: 45%;
}

#sign_up_email {
	height: 31px;
	width: 48%;
	margin-left: 47%;
}

#sign_up_username {
	height: 31px;
	width: 50%;
	margin-left: 45%;
}

#sign_up_password {
	height: 31px;
	width: 50%;
	margin-left: 45%;
}

#confirm_sign_up_password {
	height: 31px;
	width: 55%;
	margin-left: 40%;
}

.sign_up_info {
}

.sign_up_button {
	font-size: 1.1em;
	width: 200px;
}

.log_in_button {
	font-size: 1.1em;
	width: 200px;
}







